---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout titre="Accueil">
	<h1
		style="color: rgb(63, 205, 231); font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin: 10px;font-size: large;"
	>
		Accueil
	</h1>
	<p
		style="margin: 30px 400px; background-color: rgb(68, 197, 63); padding:10px;border-radius: 10px;"
	>
		Rejoignez <strong>Cent-20</strong>, l'agence de votre avenir !
	</p>
	<p style="margin: 10px;">
		Avec nos conseiller de l'avenir, vous trouverez à coup sûr votre
		prochain logement.
	</p>
	<p style="margin: 10px;">
		Notre agence existe depuis juin 2005, elle est réputé pour son haut taux
		de satisfaction vis à vis de sa clientèle, alors pourquoi ne pas venir
		tenter votre chance ?
	</p>

	<button
		style="border: none; color: rgb(141, 71, 7); text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer;"
	>
		<a
			style="font-size: 18px; font-weight: 600;"
			href={`offres/surface/80`}>Voir plus</a
		>
	</button>
</Layout>
<Footer />
