---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout titre="Offres">
    <h1 style="color: rgb(63, 205, 231); font-weight: bold; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin: 10px;font-size: large;">Offres</h1>
    <p>Consultez nos différentes offres de logement.</p>
</Layout>
<Footer />
