<p style="position: fixed; bottom: 0; width: 100%; text-align: center; background-color: #e2cfcf; padding: 10px;">Tous droits réservés</p>
<p style="position: fixed; bottom: 0px; width: 100%; text-align: center; ">Adresse : 123 Rue de la Paix, 25200 Montbéliard</p>