---
import { getOffre } from "../../js/backend.mjs";
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
// on laisse le type libre pour que TS ne se plaigne pas des propriétés
const offre: any = await getOffre(id);
---

<Layout titre={offre.nom_maison}>
    <h2>{offre.nom_maison}</h2>
    <ul>
        <li>{offre.adresse}</li>
        Voici l' offre de logement plus en détail.
    </ul>
</Layout>
